@import "../../.cache/wal/colors-waybar.css";

*{
	all: unset;
	font-family: "JetBrainsMono Nerd Font Propo";
	font-size: 18px;
}

tooltip {
	background-color:  @background;
	border-radius: 10px;
}

tooltip label {
	color: @foreground;
	font-weight: bold;
	font-size: 12px;
	margin: 5px;
}

window>box {
	margin: 14px 7px 14px 14px;
	padding: 5px;
	border-radius: 10px;
	background-color: mix(@background, transparent, 0.5);
	color: @foreground;
}

#clock {
	color: @foreground;
	padding: 5px;
}

#network {
	color: @foreground;
	padding: 5px;
}

#battery {
	color: @foreground;
	padding: 5px;
}

#wireplumber {
	color: @foreground;
	font-size: 20px;
	padding: 5px;
}

#custom-updates {
	color: @foreground;
	padding: 5px;
}

#workspaces {
	color: @color1;
	border-radius: 2px;
	padding: 5px;
}

#tray {
	padding: 10px;
	background-color: @color3;
	border-radius: 10px;
}

#tray menu {
	background-color: @background;
	border-radius: 10px;
}

#tray menu * {
	font-weight: bold;
	font-size: 12px;
}

#tray menu menuitem {
	color: @foreground;
	padding: 5px 15px 5px 15px;
}

#tray menu menuitem:last-child {
	border-radius: 0 0 10px 10px;
	padding: 5px 15px 10px 15px;
}

#tray menu menuitem:first-child {
	border-radius: 10px 10px 0 0;
	padding: 10px 15px 5px 15px;
}

#tray menu menuitem:hover {
	background-color: @color1;
}

#custom-logo {
	color: @color3;
	font-size: 30px;
	padding: 5px;
}
